<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<!-- meta -->
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>#EndGasFlaring</title>

		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/ionicons.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.css">
		<link rel="stylesheet" href="assets/css/owl.theme.css">
	    <link rel="stylesheet" href="assets/css/main.css">
	    <link rel="stylesheet" href="assets/css/about.css">
	    <link rel="stylesheet" href="assets/css/contact.css">
	    <link rel="stylesheet" href="assets/css/service.css">
	    <link rel="stylesheet" href="assets/css/one-page-style.css">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="assets/js/html5shiv.js"></script>
				<script src="assets/js/respond.js"></script>
			<![endif]-->

			<!--[if IE 8]>
		    	<script src="assets/js/selectivizr.js"></script>
		    <![endif]-->
	</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1">

<!-- Home -->
	<section class="header" id="header">
		
		<nav class="navbar navbar-default" id="navigation-bar">
			<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#header">#EndGasFlaring</a>
				</div> <!-- /.navbar-header -->

		    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#header">home</a></li>
						<li><a href="#about">Who We Are</a></li>
						<li><a href="#what-we-do">What We Do</a></li>
						<li><a href="#resources">Resources</a></li>
						<li><a href="#contact-us">Contact Us</a></li>
					</ul> <!-- /.nav -->
			    </div><!-- /.navbar-collapse -->
		  	</div><!-- /.container -->
		</nav>
		<div class="container">
			<div class="header-table">
				<div class="header-wrapper">
					<h1 class="header-title">
						#EndGasFlaring
					</h1>
					<p class="header-subtitle">
						Save Our Environment
					</p>
				</div> <!-- /.header-wrapper -->
			</div>
		</div> <!-- /.container -->
	</section> <!-- /#header -->


<!-- About Us -->
	<section class="about" id="about">
		<div class="container section-wrapper">
			<h2 class="section-title black">
				Who We Are
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>	
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<img src="assets/images/FLARE4.jpg" width="290" height="252" alt="about" class="about-img">
				</div> <!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<img src="assets/images/FLARE_1.jpg" width="250" height="252" alt="about" class="about-img">
				</div> <!-- /.col-md-3 -->

				<div class="col-md-6 col-sm-12">
					<p class="about-detail">
						#EndGasFlaring is an initiative formed to create awareness and also draw the attention of the World to
						plight of the people in the Niger Delta region of Nigeria. This initiative's sole purpose is to end the
						barbaric and archaic practice of gas flaring which has decimated the region's environment and as a consequence,
						eliminated the agricultural advantage of a once fertile land.
					</p> <!-- /.about-detail -->
				</div> <!-- /.col-md-6 -->

			</div> <!-- /.row -->

			<div class="row">
			
				<div class="col-sm-4">
					<h3 class="section-item-title">
						We Care
					</h3>
					<p class="section-item-detail">
						We're from these communities and we have put ourselves in their shoes and we deeply care about the environment
						our children play, eat, attend school and grow up.
					</p>
				</div>
				<div class="col-sm-4">
					<h3 class="section-item-title">
						We Believe
					</h3>
					<p class="section-item-detail">
						We believe that this crime should not continue. We believe that we deserve clean air and water. We believe that we are on the
						right side of history and that future generations will judge us based on our accomplishments and not what we did not do.
					</p>
				</div>
				<div class="col-sm-4">
					<h3 class="section-item-title">
						We're Determined
					</h3>
					<p class="section-item-detail">
						Our determination stems from the momentum we have behind us. The world is aware of the effects of CO2 in the environment as well as
						Climate Change. The world is moving towards cleaner technologies and we are in the forefront of innovation.
					</p>
				</div>	
			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</section> <!-- /.about -->



<!-- Note -->
	<section class="note blackbg">
		<div class="container section-wrapper text-center">
			<p class="quote">
				<iframe width="590" height="395" src="https://www.youtube.com/embed/3wqXddTIjCY" frameborder="0" allowfullscreen></iframe>
			</p> <!-- /.quote -->
		</div> <!-- /.container -->
	</section> <!-- /.note -->
	

<!-- Fan Facts -->
	<section class="fun">
		<div class="container section-wrapper">
		<h2 class="section-title black">
				> The Facts <
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>	
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							$1.8 Billion dollars
						</div>
						<div class="number-title">
							Potential revenue lost due to gas <br>
							flaring
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							3500 MegaWatts
						</div>
						<div class="number-title">
							Amount of potential power generated from the gas flared
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							25 %
						</div>
						<div class="number-title">
							projected domestic demand for gas (highest in the world)
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							14.9 Billion SCF
						</div>
						<div class="number-title">
							Amount of gas flared annually (equivalent to 25,000,000 cars)
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.fun -->


<!-- Our Services -->
	<section class="service" id="what-we-do">
		<div class="container">
			<div class="_section-wrapper">
				<h2 class="section-title black">
					What We Do
				</h2> <!-- /.section-title -->
				<div class="underline purple"></div>
				<div class="row">
					<div class="">
						<img src="assets/images/FLARE5.jpg" width="336" height="629" alt="service" class="service-img img-responsive">
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-12 services">
						<div class="row">
							<div class="col-xs-6 col-sm-4">
								<div class="service-item">
									<h3 class="section-item-title">
										Community Engagement
									</h3>
									<p class="section-item-detail">
										We see the affected communities as the main stakeholders in our endeavor and our partnership with them
										is invaluable as we build smart micro grids to alleviate the scourge of gas flaring.
									</p>
								</div> <!-- /.service-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="service-item">
									<h3 class="section-item-title">
										Gas Flare Mitigation
									</h3>
									<p class="section-item-detail">
										The time to end gas flaring is long overdue, our technology turns the flames off and replaces it with affordable
										electricity and cooking gas
									</p>
								</div> <!-- /.service-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="service-item">
									<h3 class="section-item-title">
										Agricultural Investment
									</h3>
									<p class="section-item-detail">
										The adverse effects of gas flaring on the soil is indescribable but we still believe that the way forward is to
										make ample investments in agriculture by introducing world class best practices to achieve a bountiful harvest
									</p>
								</div> <!-- /.service-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="service-item">
									<h3 class="section-item-title">
										Environmental Clean-up
									</h3>
									<p class="section-item-detail">
										According to UNEP, it will take close to 30 years to reverse the damage that has been done. We accept the challenge.
									</p>
								</div> <!-- /.service-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="service-item">
									<h3 class="section-item-title">
										Modular Gas Refinement
									</h3>
									<p class="section-item-detail">
										Our modular systems will refine flare gas on site and provide cooking gas as well as fuels for our power generation turbines.
									</p>
								</div> <!-- /.service-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="service-item">
									<h3 class="section-item-title">
										Industrial Stimulation
									</h3>
									<p class="section-item-detail">
										The fuel captured will stimulate local industries since we will be providing cheap energy for their operations.
									</p>
								</div> <!-- /.service-item -->
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.section-wrapper -->
		</div> <!-- /.container -->
	</section> <!-- /.service -->

	
<!-- Twitter Feed -->
	<section class="twitter-feed blackbg">
		<div class="container section-wrapper">
			<div class="section-title">
				twitter feed
			</div> <!-- /.section-title -->

			<div class="underline white"></div>
			<div class="owl-carousel twitter-owl">
				{{#list}}
				<div class="item">
					<p class="day">12 days ago</p>
					<p class="feed"> {{text}}
					</p>
					<div class="options">
						<a href="#"><span><i class="ion-reply"></i> reply</span></a>
						<a href="#"><span><i class="ion-social-twitter"></i> retweet</span></a>
						<a href="#"><span><i class="ion-heart"></i> favorite</span></a>
					</div>
				</div> <!-- /.item -->
				{{/list}}
			</div> <!-- /.owl-carousel -->
		</div> <!-- /.container -->
	</section> <!-- /.twitter-feed -->


<!-- Portfolio -->
	<section class="portfolio" id="resources">
		<div class="container section-wrapper">
			<h2 class="section-title black">
				Resources
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="portfolio-item">
						<div class="portfolio-img">
							<img src="assets/images/p4a_1.jpeg" alt="port-1" class="port-item">
							<div class="portfolio-img-hover">
								<a href="https://static1.squarespace.com/static/532f79fae4b07e365baf1c64/t/5790697346c3c47a3516fa22/1469081974117/Power_for_All_Infographic_151202.pdf"><img src="assets/images/plus.png" alt="plus" class="plus"></a>
							</div> <!-- /.portfolio-img-hover -->
						</div> <!-- /.portfolio-img -->
						<div class="portfolio-item-details">
							<div class="portfolio-item-name">
								7 Reasons for Decentralized Energy Projects
							</div> <!-- /.portfolio-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.portfolio-item-details -->
					</div> <!-- /.portfolio-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="portfolio-item">
						<div class="portfolio-img">
							<img src="assets/images/p4a_2.jpeg" alt="port-2" class="port-item">
							<div class="portfolio-img-hover">
								<a href="https://static1.squarespace.com/static/532f79fae4b07e365baf1c64/t/579069c659cc68a958c707e9/1469082054595/Power_for_All_Infographic_Feb_Mini_Grids.pdf"><img src="assets/images/plus.png" alt="plus" class="plus"></a>
							</div> <!-- /.portfolio-img-hover -->
						</div> <!-- /.portfolio-img -->
						<div class="portfolio-item-details">
							<div class="portfolio-item-name">
								5 Reasons for Renewable Energy Mini Grids
							</div> <!-- /.portfolio-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.portfolio-item-details -->
					</div> <!-- /.portfolio-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="portfolio-item">
						<div class="portfolio-img">
							<img src="assets/images/p4a_3.jpg" alt="port-3" class="port-item">
							<div class="portfolio-img-hover">
								<a href="https://static1.squarespace.com/static/532f79fae4b07e365baf1c64/t/578d77b52994cafd4ea6ee57/1468889013748/Power_for_All_Infographic_Changing_The_Gender_Equation.pdf"><img src="assets/images/plus.png" alt="plus" class="plus"></a>
							</div> <!-- /.portfolio-img-hover -->
						</div> <!-- /.portfolio-img -->
						<div class="portfolio-item-details">
							<div class="portfolio-item-name">
								Clean Energy is changing Gender Equation
							</div> <!-- /.portfolio-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.portfolio-item-details -->
					</div> <!-- /.portfolio-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="portfolio-item">
						<div class="portfolio-img">
							<img src="assets/images/p4a_4.jpeg" alt="port-4" class="port-item">
							<div class="portfolio-img-hover">
								<a href="https://static1.squarespace.com/static/532f79fae4b07e365baf1c64/t/578d6b9ebe65944d662cc2a9/1468885918767/P4A_DRE_Advantage.pdf"><img src="assets/images/plus.png" alt="plus" class="plus"></a>
							</div> <!-- /.portfolio-img-hover -->
						</div> <!-- /.portfolio-img -->
						<div class="portfolio-item-details">
							<div class="portfolio-item-name">
								1.1 Billion People without Energy Access
							</div> <!-- /.portfolio-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.portfolio-item-details -->
					</div> <!-- /.portfolio-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="portfolio-item">
						<div class="portfolio-img">
							<img src="assets/images/p4a_5.jpeg" alt="port-5" class="port-item">
							<div class="portfolio-img-hover">
								<a href="https://static1.squarespace.com/static/532f79fae4b07e365baf1c64/t/579068f346c3c47a3516f790/1469081844786/P4A_The_Race_Is_on.pdf"><img src="assets/images/plus.png" alt="plus" class="plus"></a>
							</div> <!-- /.portfolio-img-hover -->
						</div> <!-- /.portfolio-img -->
						<div class="portfolio-item-details">
							<div class="portfolio-item-name">
								Race to Universal Access Decentralized vs Centralized
							</div> <!-- /.portfolio-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.portfolio-item-details -->
					</div> <!-- /.portfolio-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="portfolio-item">
						<div class="portfolio-img">
							<img src="assets/images/p4a_6.jpeg" alt="port-6" class="port-item">
							<div class="portfolio-img-hover">
								<a href="https://static1.squarespace.com/static/532f79fae4b07e365baf1c64/t/578d6d5b03596ed89d16b29e/1468886364960/P4A_endenergypovertyfaster.pdf"><img src="assets/images/plus.png" alt="plus" class="plus"></a>
							</div> <!-- /.portfolio-img-hover -->
						</div> <!-- /.portfolio-img -->
						<div class="portfolio-item-details">
							<div class="portfolio-item-name">
								End Energy Poverty #EndGasFlares
							</div> <!-- /.portfolio-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.portfolio-item-details -->
					</div> <!-- /.portfolio-item -->
				</div> <!-- /.col-md-4 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.portfolio -->




<!-- Testimonial -->
	<section class="testimonial">
		<div class="container section-wrapper">
			<div class="section-title">
				testmonials
			</div> <!-- /.section-title -->
			<div class="underline white"></div>
			<div class="owl-carousel testimonial-owl">
				<div class="item">
					<p class="testimonial-detail">
						The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
					</p>
					<div class="test-name">
						<strong>Mohoshin Ahmed</strong> <br>
						ROX THEME
					</div>
				</div> <!-- /.item -->
				<div class="item">
					<p class="testimonial-detail">
						The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
					</p>
					<div class="test-name">
						<strong>Mohoshin Ahmed</strong> <br>
						ROX THEME
					</div>
				</div> <!-- /.item -->
				<div class="item">
					<p class="testimonial-detail">
						The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
					</p>
					<div class="test-name">
						<strong>Mohoshin Ahmed</strong> <br>
						ROX THEME
					</div>
				</div> <!-- /.item -->
			</div> <!-- /.owl-carousel -->
		</div> <!-- /.container -->
	</section> <!-- /.testimonial -->

<!-- Contact us -->
	<section class="contact section-wrapper" id="contact-us">
		<div class="container">
			<div class="row">
	            <div class="col-md-3 contact-item col-sm-6 col-xs-12">
	                <i class="ion-location"></i>
	                <h3>Address</h3>
	                <p class="contact">
	                    1350 Nicollet Avenue <br>
	                    Minneapolis MN, USA
	                </p>
	            </div>
	            <div class="col-md-3 contact-item col-sm-6 col-xs-12">
	                <i class="ion-ios-telephone"></i>
	                <h3>Phone</h3>
	                <p class="contact">
	                    Mobile: 408-893-5103
	                </p>
	            </div>

	            <div class="col-md-3 contact-item col-sm-6 col-xs-12">
	                <i class="ion-ios-email"></i>
	                <h3>Email Address</h3>
	                <p class="contact">
	                    <a href="mailto:info@themewagon.com">info@acesolutions.com</a> <br>
	                    <a href="www.acesolutions.com">www.acesolutions.com</a>
	                </p>
	            </div>


	        </div> <!-- /.row -->
	        <form class="row form">
                <h3>Leave A Message</h3>
                <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Name</label>
                    <input name="name" class="form-control" type="text" placeholder="Your Name">
                </div> <!-- /.form-group -->
                <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Email</label>
                    <input name="email" class="form-control" type="email" placeholder="Email address">
                </div> <!-- /.form-group -->
                <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Phone Number</label>
                    <input name="phoneNumber" class="form-control" type="text" placeholder="Your phone number">
                </div> <!-- /.form-group -->
                <div class="row">
                    <div class="col-md-12 col-xs-12 form-group">
                        <label class="sr-only">Message</label>
                        <textarea class="message form-control" placeholder="Write message"></textarea>
                    </div> <!-- /.form-group -->
					<input class="btn btn-sub" type="submit" value="Send Message">
				</div>
			</form> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.contact -->


<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="copy">
					Copyright &copy; 2017 #EndGasFlaring
					<br>
					Sources: <a href="http://www.powerforall.org "  >  www.powerforall.org  </a>
					<br>	UN Foundation (2015); ECREEE, (2012); IRENA (2015); RECP, EUEI, ARE, REN21 (2014), IEA (2011) & World Bank (2015); ARE (2015)
				</div>
				</div>
				<div class=" col-sm-4 text-center">
					<div class="social-icon">
						<a href="#">
							<div class="icon fb">
								<i class="ion-social-facebook"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon twitter">
							<i class="ion-social-twitter"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon google">
								<i class="ion-social-googleplus"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon rss">
								<i class="ion-social-rss"></i>
							</div>
						</a>
					</div>		
				</div>
				<div class="col-sm-4 text-right">
					<div class="copy">
						Theme by <a href="http://www.themewagon.com">themewagon.com</a>. All Rights Reserved
					</div>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer>
	


	<script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/contact.js"></script>
	<script src="assets/js/script.js"></script>



</body>
</html>